# Server settings
HOST="0.0.0.0"
PORT=8001
BASE_URL="http://localhost:8001"

# EMS base URL
EMS_BASE_URL="http://localhost:8000"

# Auth Service URL
AUTH_SERVICE_URL="http://localhost:8002"

# Security
JWT_SECRET="super_secret_dev_key_change_me_in_prod"
